{{ define "main" }}
  {{ partial "header.html" . }}
  
  <div class="flex flex-row justify-between pt-8">
    <!-- Main Content-->
    <div class="flex flex-col w-full gap-4">
      <div class="flex flex-row gap-4">
        <p class="text-3xl max-sm:text-2xl">📝</p>
        <h1 class="text-3xl max-sm:text-2xl font-bold">Blog</h1>
      </div>
      <hr/>
      {{ $blogPages := where .Site.RegularPages "Section" "blog" }}
      {{ .Scratch.Set "blogPages" $blogPages }}
      {{ partial "pagination.html" . }}
    </div>
  </div>

  {{ partial "footer_regular.html" . }}  
{{ end }}
